@charset "UTF-8";
* {
  font-family: '微軟正黑體';
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

header.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.navbar * {
  text-decoration: none;
}

header.navbar a {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header.navbar a:hover {
  color: #C9ADD8;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header.navbar ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header.navbar li {
  list-style: none;
  margin-left: 25px;
}

.chang_color {
  background-color: rgba(148, 140, 169, 0.8);
}

.jumbotron {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 100%;
  margin-bottom: 0px;
  border-radius: 0px;
}

.jumbotron .container {
  color: white;
  padding: 300px 0px;
  text-shadow: 0 0 10px #222;
  letter-spacing: 1px;
}

.jumbotron h5 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
}

.jumbotron h2 {
  font-family: 'Sacramento';
  font-size: 42px;
  margin-bottom: 15px;
}

.jumbotron hr {
  width: 45px;
  border: solid 2px #C9ADD8;
}

.jumbotron#index {
  background-image: url("../img/index.jpg");
}

.jumbotron#mid {
  background-image: url(https://i.pinimg.com/originals/0e/9e/c0/0e9ec0f858640a0821b3c13cc56d7918.jpg);
  padding: 200px 0px;
}

section {
  padding: 60px 0px;
}

section h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

section h4 {
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
}

section h5 {
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.9;
}

section p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  opacity: 0.9;
  font-weight: 300;
}

section hr {
  width: 45px;
  border: solid 2px #C9ADD8;
  margin-bottom: 20px;
}

section#Legend {
  background-color: #513B63;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

section#Legend .legend_Img {
  background-image: url(https://inews.gtimg.com/newsapp_bt/0/4077947003/1000);
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  min-height: 500px;
  background-position: 13% center;
  margin-bottom: 20px;
  margin-left: 40px;
}

section#Legend .legend_text {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  padding: 0px 40px;
}

section#Legend hr {
  margin-left: 10px;
}

section#Where {
  text-align: center;
}

section#Where:before {
  content: "";
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1e/BlankMap-World-v4-Borders.png);
  background-size: cover;
  opacity: 0.15;
  height: 450px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  z-index: -1;
}

section#Where ul {
  padding: 0;
}

section#Where ul li {
  list-style: none;
}

section#Where h4 {
  margin: 0;
  margin-top: 10px;
}

section#Where .group {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#Where .group .item {
  padding: 0 20px;
}

.img_warp {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  border-radius: 100%;
  overflow: hidden;
}

.img_warp img {
  width: 250px;
}

section#Purpose h1 {
  text-align: center;
}

section#Purpose p {
  text-align: justify;
  padding: 10px 15px;
}

section#Purpose .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

section#Purpose .group .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 250px;
}

section#Purpose .group .item h4 {
  margin-bottom: 0;
}

section#Purpose .img_warp {
  border-radius: 10px;
}

section#Purpose .img_warp img {
  width: 220px;
}

section#Purpose .img_warp #tea {
  width: 250px;
  left: -80px;
}

section#Purpose .img_warp #sick {
  width: 250px;
  left: -65px;
}

section#Attractions {
  background-color: #513B63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#Attractions h1 {
  text-align: center;
  color: #fff;
}

section#Attractions #Carousel {
  width: 650px;
  height: 350px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

section#Attractions #Carousel button {
  z-index: 5;
  outline: none;
  padding: 20px;
}

section#Attractions #Carousel .carousel-inner {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: -1em;
}

section#Attractions #Carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
  word-spacing: 0;
  left: 0;
}

section#Attractions #Carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text {
  text-align: center;
  width: 100%;
  position: absolute;
  color: #222;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(148, 140, 169, 0.6);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text h5 {
  font-size: 1.25rem;
  margin: 20px 0 10px 0;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(148, 140, 169, 0.8);
}

section#Attractions #Carousel .carousel-inner .carousel-item .text:hover h5 {
  color: #FFF4B7;
}

section#Attractions #Carousel button.control {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.25rem;
  cursor: pointer;
}

section#Attractions #Carousel button.control:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

section#Attractions #Carousel button.control i {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

section#Attractions #Carousel button[data-slide="next"] {
  left: initial;
  right: 0;
}

footer#Question {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-attachment: fixed bottom;
  background-position: 0 100%;
  background-image: url(http://oushidai.wangdk.cn/static/upload/2017/07/14/20170714210333000000_1_377706_11.jpg);
  padding: 80px 0px;
  text-shadow: 0 0 10px #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#Question input.form-control {
  width: 50%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
}

footer#Question button {
  padding: 7px 20px;
  max-width: 150px;
  border: none;
  border-radius: 5px;
  outline: none;
}

footer#Question button:active {
  background-color: #948CA9;
}
/*# sourceMappingURL=style.css.map */