@charset "UTF-8";
* {
  font-family: '微軟正黑體';
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

.navbar.open {
  background-color: rgba(148, 140, 169, 0.8);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar.open .navbar-nav {
  display: block;
  width: calc(100% + 40px);
  height: auto;
  margin: -20px;
  margin-top: 1rem;
}

.navbar.open .navbar-nav li {
  width: 100%;
  text-align: center;
  padding: 1rem .5rem;
  margin: 0;
  background-color: rgba(148, 140, 169, 0.8);
  border-top: rgba(255, 255, 255, 0.6) solid 1px;
}

.navbar.open .navbar-nav li a {
  display: block;
}

header.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.navbar * {
  text-decoration: none;
}

header.navbar a {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header.navbar a:hover {
  color: #C9ADD8;
}

header.navbar .navbar-nav {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 768px) {
  header.navbar .navbar-nav {
    display: none;
    overflow: hidden;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
}

header.navbar .navbar-nav li {
  list-style: none;
  margin: .5rem;
}

header.navbar .navbar-menu {
  display: none;
  width: 70px;
  height: 62.5px;
  padding: .25rem;
  position: relative;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 999;
}

header.navbar .navbar-menu:hover span {
  background: #C9ADD8;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media (max-width: 768px) {
  header.navbar .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header.navbar .navbar-menu * {
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header.navbar .navbar-menu span {
  display: block;
  background: #fff;
  border-radius: 2px;
}

header.navbar .navbar-menu #hamburger {
  width: 100%;
}

header.navbar .navbar-menu #hamburger span {
  width: 2.5rem;
  height: .25rem;
  position: relative;
  top: 25%;
  left: 20%;
  margin: .5rem 0;
}

header.navbar .navbar-menu #hamburger span:nth-child(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

header.navbar .navbar-menu #hamburger span:nth-child(2) {
  width: 2rem;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

header.navbar .navbar-menu #hamburger span:nth-child(3) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

header.navbar .navbar-menu #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 0;
}

header.navbar .navbar-menu #cross span:nth-child(1) {
  height: 0%;
  width: .25rem;
  position: absolute;
  top: 15%;
  left: 2rem;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header.navbar .navbar-menu #cross span:nth-child(2) {
  height: .25rem;
  width: 0%;
  position: absolute;
  top: 2rem;
  left: 15%;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

header.navbar .navbar-menu.open #hamburger span {
  width: 0%;
}

header.navbar .navbar-menu.open #hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header.navbar .navbar-menu.open #hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}

header.navbar .navbar-menu.open #hamburger span:nth-child(3) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

header.navbar .navbar-menu.open #cross span:nth-child(1) {
  height: 3rem;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

header.navbar .navbar-menu.open #cross span:nth-child(2) {
  width: 3rem;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

.chang_color {
  background-color: rgba(148, 140, 169, 0.8);
}

.jumbotron {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  background-position: 0% 100%;
  margin-bottom: 0px;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .jumbotron {
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}

.jumbotron .container {
  color: white;
  padding: 300px 20px;
  text-shadow: 0 0 10px #222;
  letter-spacing: 1px;
}

.jumbotron h5 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
}

.jumbotron h2 {
  font-family: 'Sacramento';
  font-size: 42px;
  margin-bottom: 15px;
}

.jumbotron hr {
  width: 45px;
  border: solid 2px #C9ADD8;
}

.jumbotron#index {
  background-image: url(../img/index.jpg) !important;
}

.jumbotron#mid {
  background-image: url(../img/mid.jpg) !important;
  padding: 200px 0px;
}

section {
  padding: 60px 0px;
}

section h1 {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

section h4 {
  font-size: 22px;
  letter-spacing: 1px;
  text-align: center;
}

section h5 {
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.9;
}

section p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  opacity: 0.9;
  font-weight: 300;
}

section hr {
  width: 45px;
  border: solid 2px #C9ADD8;
  margin-bottom: 20px;
}

section#Legend {
  background-color: #513B63;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  position: relative;
}

@media (max-width: 768px) {
  section#Legend {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section#Legend .legend_Img {
  background-image: url(../img/01.png) !important;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  min-height: 500px;
  background-position: 13% center;
  margin-bottom: 20px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  section#Legend .legend_Img {
    width: 100vw;
    margin-left: 0;
    position: absolute;
    opacity: 0.3;
    left: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 3rem 2rem #513B63 inset;
            box-shadow: 0 0 3rem 2rem #513B63 inset;
  }
}

section#Legend .legend_text {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  padding: 0px 40px;
}

section#Legend hr {
  margin-left: 10px;
}

@media (max-width: 768px) {
  section#Legend h1, section#Legend hr {
    text-align: center;
  }
  section#Legend hr {
    margin: auto;
  }
}

section#Where {
  text-align: center;
}

section#Where:before {
  content: "";
  background-image: url(../img/map.png) !important;
  background-size: cover;
  opacity: 0.15;
  height: 450px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  z-index: -1;
}

section#Where ul {
  padding: 0;
}

section#Where ul li {
  list-style: none;
}

section#Where h4 {
  margin: 0;
  margin-top: 10px;
}

section#Where .group {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#Where .group .item {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  section#Where .group .item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  section#Where p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  section#Where .group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#Where .group li {
    padding: 25px 20px;
  }
}

.img_warp {
  width: 15vw;
  height: 15vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  border-radius: 100%;
  overflow: hidden;
  max-width: 250px;
  max-height: 250px;
}

@media (max-width: 768px) {
  .img_warp {
    width: 9rem;
    height: 9rem;
  }
}

.img_warp img {
  height: 110%;
}

section#Purpose h1 {
  text-align: center;
}

section#Purpose p {
  text-align: justify;
  padding: 10px 15px;
}

section#Purpose .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

@media (max-width: 768px) {
  section#Purpose .group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section#Purpose .group .item {
  max-width: 250px;
  margin: 1rem;
}

@media (max-width: 768px) {
  section#Purpose .group .item {
    width: 100%;
    max-width: 100%;
    margin: .5rem;
  }
  section#Purpose .group .item p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

section#Purpose .group .item h4 {
  margin-bottom: 0;
}

section#Purpose .img_warp {
  border-radius: 10px;
}

section#Purpose .img_warp img {
  width: 100%;
}

@media (max-width: 768px) {
  section#Purpose .img_warp img {
    width: 100%;
  }
}

section#Attractions {
  background-color: #513B63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#Attractions h1 {
  text-align: center;
  color: #fff;
}

section#Attractions #Carousel {
  width: 650px;
  height: 350px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

@media (max-width: 768px) {
  section#Attractions #Carousel {
    width: 100%;
    height: calc(100vw*0.67);
    border-radius: 0;
  }
}

section#Attractions #Carousel button {
  z-index: 5;
  outline: none;
  padding: 20px;
}

section#Attractions #Carousel .carousel-inner {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: -1em;
}

@media (max-width: 768px) {
  section#Attractions #Carousel .carousel-inner {
    word-spacing: 0;
    font-size: 0;
  }
}

section#Attractions #Carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
  word-spacing: 0;
  left: 0;
}

section#Attractions #Carousel .carousel-inner .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text {
  text-align: center;
  width: 100%;
  position: absolute;
  color: #222;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(148, 140, 169, 0.6);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text h5 {
  font-size: 1.25rem;
  margin: 20px 0 10px 0;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

section#Attractions #Carousel .carousel-inner .carousel-item .text:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(148, 140, 169, 0.8);
}

section#Attractions #Carousel .carousel-inner .carousel-item .text:hover h5 {
  color: #FFF4B7;
}

section#Attractions #Carousel button.control {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.25rem;
  cursor: pointer;
}

section#Attractions #Carousel button.control:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

section#Attractions #Carousel button.control i {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

section#Attractions #Carousel button[data-slide="next"] {
  left: initial;
  right: 0;
}

footer#Question {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-attachment: fixed bottom;
  background-position: 0 100%;
  background-image: url(../img/index.jpg) !important;
  padding: 80px 0px;
  text-shadow: 0 0 10px #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer#Question input.form-control {
  width: 50%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 768px) {
  footer#Question input.form-control {
    width: 80%;
  }
}

footer#Question button {
  padding: 7px 20px;
  max-width: 150px;
  border: none;
  border-radius: 5px;
  outline: none;
}

footer#Question button:active {
  background-color: #948CA9;
}
/*# sourceMappingURL=style.css.map */