$color_purple: #948CA9
$color_gray: #9A9A9A
$color_purple_1: #C9ADD8
$color_purple_2: #513B63
$color_black: #222

      
@mixin mobile
    @media(max-width: 768px)
        @content
    


*
    // border: solid 1px
    font-family: '微軟正黑體'
    position: relative
    
    
    //degug用
    // header
    //   display: none
    // section
    //   display: none
    // section#section_attractions
    //   display: block

html,body 
    margin: 0
    padding: 0

body
    overflow: hidden
    overflow-y: auto
  
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
    font-weight: bold


.navbar.open
    background-color: rgba(148, 140, 169, 0.8)
    flex-wrap: wrap
    .navbar-nav
        display: block
        width: calc(100% + 40px)
        height: auto
        margin: -20px
        margin-top: 1rem
        li 
            width: 100%
            text-align: center
            padding: 1rem .5rem
            margin: 0
            background-color: rgba(148, 140, 169, 0.8);
            border-top: rgba(#fff,0.6) solid 1px
            a
                display: block
                
header.navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1030
    transition: 0.5s
    padding: 20px
    display: flex
    justify-content: space-between
    align-items: center

    *
        text-decoration: none

    a
        color: #fff
        text-shadow: 0 0 5px rgba(black,0.5)
        transition: 0.5s

        &:hover
            color: $color_purple_1

    .navbar-nav
        padding: 0
        margin: 0
        display: flex
        flex-wrap: nowrap
        transition: 0.5s

        @include mobile 
            display: none
            overflow: hidden
            transition-delay: .5s
        li
            list-style: none
        
    .navbar-menu 
        display: none
        width: 70px 
        height: 62.5px
        padding: .25rem
        position: relative
        cursor: pointer
        background: transparent
        border-radius: 5px
        justify-content: center
        align-items: center
        transform: scale(0.7)
        transition: .5s
        position: absolute
        top: 0
        right: 1rem
        z-index: 999
        &:hover 
            span 
                background: $color_purple_1
                transition-delay: 0s

        @include mobile 
            display: flex
        
        *
            transition: .25s ease-in-out
            box-sizing: border-box

        span
            display: block
            background:#fff
            border-radius: 2px

        #hamburger 
            width: 100%
            span 
                width: 2.5rem
                height: .25rem
                position: relative
                top: 25%
                left: 20%
                margin: .5rem 0

                &:nth-child(1)
                    transition-delay: .5s
                
                &:nth-child(2)
                    width: 2rem
                    transition-delay: .625s
                
                &:nth-child(3)
                    transition-delay: .75s
            
        #cross 
            position: absolute
            height: 100%
            width: 100%
            transform: rotate(45deg)
            top: 0
            left: 0
            span
                &:nth-child(1)
                    height: 0%
                    width: .25rem
                    position: absolute
                    top: 15%
                    left: 2rem
                    transition-delay: 0s
                &:nth-child(2)
                    height: .25rem
                    width: 0%
                    position: absolute
                    top: 2rem
                    left: 15%
                    transition-delay: .25s


    .navbar-menu.open 
        #hamburger 
            span 
                width: 0%
                &:nth-child(1)
                    transition-delay: 0s
                
                &:nth-child(2)
                    transition-delay: .125s
                
                &:nth-child(3)
                    transition-delay: .25s

        #cross 
            span 
                &:nth-child(1)
                    height: 3rem
                    transition-delay: .625s

                &:nth-child(2)
                    width: 3rem
                    transition-delay: .375s

            
        
        

        
         
    
        
  
.chang_color
    background-color: rgba($color_purple,0.8)  


.jumbotron
    text-align: center
    background-size: cover
    background-attachment: fixed
    top: 0
    left: 0
    background-position: 0% 100%
    margin-bottom: 0px
    border-radius: 0px
    @include mobile 
        background-position: 50% 75%
        background-repeat: no-repeat
        background-attachment: scroll
    .container
        color: white
        padding: 300px 0px
        text-shadow: 0 0 10px $color_black
        letter-spacing: 1px
    h5
        color: rgba(white,0.9)
        font-weight: normal
    h2
        font-family: 'Sacramento'
        font-size: 42px
        margin-bottom: 15px
    hr
        width: 45px
        border: solid 2px $color_purple_1
    
.jumbotron#index
    background-image: url(../img/index.jpg) !important
.jumbotron#mid
    background-image: url(../img/mid.jpg) !important
    padding: 200px 0px

    
//下方版位通用設定
section
    padding: 60px 0px
    h1
        font-size: 28px
        letter-spacing: 2px
        margin-bottom: 15px
    h4
        font-size: 22px
        letter-spacing: 1px
        text-align: center
        
    h5
        font-size: 16px
        letter-spacing: 1px
        opacity: 0.9
    p
        font-size: 14px
        letter-spacing: 1px
        line-height: 20px
        opacity: 0.9
        font-weight: 300
    hr
        width: 45px
        border: solid 2px $color_purple_1
        margin-bottom: 20px
    
section#Legend
    background-color: $color_purple_2
    color: #fff
    display: flex
    align-items: self-start
    position: relative
    @include mobile 
        flex-direction: column
    .legend
        &_Img
            background-image: url(../img/01.png) !important
            flex: 5
            min-height: 500px
            background-position: 13% center
            margin-bottom: 20px
            margin-left: 40px

            @include mobile 
                width: 100vw
                margin-left: 0
                position: absolute
                opacity: 0.3
                left: 0
                bottom: 0
                box-shadow: 0 0 3rem 2rem $color_purple_2 inset
        &_text
            flex: 7
            padding: 0px 40px
    hr
        margin-left: 10px
    
    
    @include mobile 
        h1, hr
            text-align: center
        hr 
            margin: auto

      
section#Where 
    text-align: center
    &:before
        content: ""
        background-image: url(../img/map.png) !important
        background-size: cover
        opacity: 0.15
        height: 450px
        width: 100%
        position: absolute
        top: 0
        left: 0
        mix-blend-mode: multiply
        z-index: -1

    ul
        padding: 0

        li
            list-style: none
    
    h4
        margin: 0
        margin-top: 10px

    .group
        padding: 20px 0
        display: flex
        flex-wrap: nowrap
        justify-content: center
        .item 
            padding: 0 20px
            box-sizing: border-box
            width: 100%
    @include mobile 
        p
            width: 85%
            margin-left: auto
            margin-right: auto
            text-align: left
        .group
            flex-wrap: wrap
            li  
                padding: 25px 20px
            

        
    

.img_warp
    width: 15vw
    height: 15vw
    margin-right: auto
    margin-left: auto
    margin-top: 15px
    border-radius: 100%
    overflow: hidden

    @include mobile 
        width: 9rem
        height: 9rem
    img
        // object-fit: cover
        height: 110%
      
section#Purpose
    h1
        text-align: center
    p
        text-align: justify
        padding: 10px 15px
    .group 
        display: flex
        justify-content: center
        padding: 0 50px
        @include mobile 
            // width: 100%
            // flex-direction: column
            flex-wrap: wrap
        .item
            max-width: 250px
            @include mobile 
                width: 100%
                max-width: 100%
                p
                    width: 80%
                    margin-right: auto
                    margin-left: auto

            h4
                margin-bottom: 0

    .img_warp
        border-radius: 10px
        img
            width: 220px
            @include mobile 
                width: 100%
                // height: 50vw
        #tea
            width: 250px
            left: -80px
        #sick
            width: 250px
            left: -65px


section#Attractions
    background-color: $color_purple_2
    display: flex
    flex-direction: column
    align-items: center
    h1
        text-align: center
        color: #fff

    #Carousel
        width: 650px
        height: 350px
        position: relative
        border-radius: 15px
        overflow: hidden
        @include mobile
            width: 100vw
            height: auto
            border-radius: 0

        button
            z-index: 5
            outline: none
            padding: 20px

        .carousel-inner
            width: 100%
            height: 100%
            white-space: nowrap
            overflow: hidden
            word-spacing: -1em

            @include mobile
                width: 100vw
                height: calc(100vw*0.67)

            .carousel-item
                width: 100%
                height: 100%
                display: inline-block
                position: relative
                transition: 0.5s
                margin: 0
                word-spacing: 0
                left: 0
                
                img
                    width: 100%
                    height: 100%
                    object-fit: cover

                .text
                    text-align: center
                    width: 100%
                    position: absolute
                    color: $color_black
                    left: 50%
                    top: 50%
                    transform: translate(-50%,-50%)
                    background-color: rgba($color_purple,0.6)
                    color: #fff
                    cursor: pointer
                    text-decoration: none
                    h5
                        font-size: 1.25rem
                        margin: 20px 0 10px 0
                    p
                        padding: 0
                        margin: 0
                        margin-bottom: 20px
                .text:hover
                    transition: 0.5s
                    background-color: rgba($color_purple,0.8)
                    h5
                        color: #FFF4B7

        button.control
            position: absolute
            top: 0
            left: 0
            height: 100%
            box-shadow: none
            border: none
            background-color: transparent
            color: rgba(white, 0.5)
            transition: 0.5s
            font-size: 1.25rem
            cursor: pointer

            &:hover
                background-color: rgba(white, 0.1)

            i
                text-shadow: 0 0 5px rgba(black, 0.3)

            

        button[data-slide="next"]
            left: initial
            right: 0


footer#Question
    color: #fff
    text-align: center
    background-size: cover
    background-attachment: fixed bottom
    background-position: 0 100%
    background-image: url(../img/index.jpg) !important
    padding: 80px 0px
    text-shadow: 0 0 10px $color_black
    display: flex
    flex-direction: column
    align-items: center
    input.form-control
        width: 50%
        padding: 10px
        margin-right: auto
        margin-left: auto
        margin-bottom: 20px
        text-align: center
        border: none
        border-radius: 5px
        outline: none
    button 
        padding: 7px 20px
        max-width: 150px
        border: none
        border-radius: 5px
        outline: none

        &:active
            background-color: $color_purple
    
  
  
