$color_purple: #948CA9
$color_gray: #9A9A9A
$color_purple_1: #C9ADD8
$color_purple_2: #513B63
$color_black: #222

*
    // border: solid 1px
    font-family: '微軟正黑體'
    position: relative
    
    
    //degug用
    // header
    //   display: none
    // section
    //   display: none
    // section#section_attractions
    //   display: block

html,body 
    margin: 0
    padding: 0

body
    overflow: hidden
    overflow-y: auto
  
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
    font-weight: bold
  
header.navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1030
    transition: 0.5s
    padding: 20px
    display: flex
    justify-content: space-between
    align-items: center

    *
        text-decoration: none

    a
        color: #fff
        text-shadow: 0 0 5px rgba(black,0.5)
        transition: 0.5s

        &:hover
            color: $color_purple_1
            text-shadow: 0 0 10px rgba(white,0.5)

    ul
        padding: 0
        margin: 0
        display: flex
        flex-wrap: nowrap
    li
        list-style: none
        margin-left: 25px
        
  
.chang_color
    background-color: rgba($color_purple,0.8)  


.jumbotron
    text-align: center
    background-size: cover
    background-attachment: fixed
    background-position: 0% 100%
    margin-bottom: 0px
    border-radius: 0px
    .container
        color: white
        padding: 300px 0px
        text-shadow: 0 0 10px $color_black
        letter-spacing: 1px
    h5
        color: rgba(white,0.9)
        font-weight: normal
    h2
        font-family: 'Sacramento'
        font-size: 42px
        margin-bottom: 15px
    hr
        width: 45px
        border: solid 2px $color_purple_1
    
.jumbotron#index
    background-image: url(http://oushidai.wangdk.cn/static/upload/2017/07/14/20170714210333000000_1_377706_11.jpg)
.jumbotron#mid
    background-image: url(https://i.pinimg.com/originals/0e/9e/c0/0e9ec0f858640a0821b3c13cc56d7918.jpg)
    padding: 200px 0px

    
//下方版位通用設定
section
    padding: 60px 0px
    h1
        font-size: 28px
        letter-spacing: 2px
        margin-bottom: 15px
    h4
        font-size: 22px
        letter-spacing: 1px
        text-align: center
        
    h5
        font-size: 16px
        letter-spacing: 1px
        opacity: 0.9
    p
        font-size: 14px
        letter-spacing: 1px
        line-height: 20px
        opacity: 0.9
        font-weight: 300
    hr
        width: 45px
        border: solid 2px $color_purple_1
        margin-bottom: 20px
    
section#Legend
    background-color: $color_purple_2
    color: #fff
    display: flex
    align-items: self-start
    .legend
        &_Img
            background-image: url(https://inews.gtimg.com/newsapp_bt/0/4077947003/1000)
            flex: 5
            min-height: 500px
            background-position: 13% center
            margin-bottom: 20px
            margin-left: 40px
        &_text
            flex: 7
            padding: 0px 40px
    hr
        margin-left: 10px
    

      
section#Where 
    text-align: center
    &:before
        content: ""
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1e/BlankMap-World-v4-Borders.png)
        background-size: cover
        opacity: 0.15
        height: 450px
        width: 100%
        position: absolute
        top: 0
        left: 0
        mix-blend-mode: multiply
        z-index: -1

    ul
        padding: 0

        li
            list-style: none
    
    h4
        margin: 0
        margin-top: 10px

    .group
        padding: 20px 0
        display: flex
        flex-wrap: nowrap
        justify-content: center
        .item 
            padding: 0 20px
    

.img_warp
    width: 150px
    height: 150px
    margin-right: auto
    margin-left: auto
    margin-top: 15px
    border-radius: 100%
    overflow: hidden
    img
        width: 250px
      
section#Purpose
    h1
        text-align: center
    p
        text-align: justify
        padding: 10px 15px
    .group 
        display: flex
        justify-content: center
        padding: 0 50px
        .item
            flex: 1
            max-width: 250px
            h4
                margin-bottom: 0
    .img_warp
        border-radius: 10px
        img
            width: 220px
        #tea
            width: 250px
            left: -80px
        #sick
            width: 250px
            left: -65px


section#Attractions
    background-color: $color_purple_2
    display: flex
    flex-direction: column
    align-items: center
    h1
        text-align: center
        color: #fff

    #Carousel
        width: 650px
        height: 350px
        position: relative

        button
            z-index: 5
            outline: none

        .carousel-inner
            width: 100%
            height: 100%
            white-space: nowrap
            overflow: hidden
            .carousel-item
                width: 100%
                height: 100%
                display: inline-block
                position: relative
                transition: 0.5s
                
                img
                    width: 100%

                .text
                    text-align: center
                    width: 100%
                    position: absolute
                    color: $color_black
                    left: 50%
                    top: 50%
                    transform: translate(-50%,-50%)
                    background-color: rgba($color_purple,0.6)
                    color: #fff
                    cursor: pointer
                    text-decoration: none
                    h5
                        font-size: 1.25rem
                        margin: 20px 0 10px 0
                    p
                        padding: 0
                        margin: 0
                        margin-bottom: 20px
                .text:hover
                    transition: 0.5s
                    background-color: rgba($color_purple,0.8)
                    h5
                        color: #FFF4B7

        button.control
            position: absolute
            top: 0
            left: 0
            height: 100%
            box-shadow: none
            border: none
            background-color: transparent
            color: rgba(white, 0.5)
            transition: 0.5s
            font-size: 1.25rem
            cursor: pointer

            &:hover
                background-color: rgba(white, 0.1)

            i
                text-shadow: 0 0 5px rgba(black, 0.3)

            

        button[data-slide="next"]
            left: initial
            right: 0


footer#Question
    color: #fff
    text-align: center
    background-size: cover
    background-attachment: fixed bottom
    background-position: 0 100%
    background-image: url(http://oushidai.wangdk.cn/static/upload/2017/07/14/20170714210333000000_1_377706_11.jpg)
    padding: 80px 0px
    text-shadow: 0 0 10px $color_black
    input.form-control
        width: 90%
        margin-right: auto
        margin-left: auto
        margin-bottom: 30px
        text-align: center
    
  
  
